[submodule "src/serial"]
	path = src/serial
	url = https://github.com/jinmenglei/serial.git
[submodule "src/Hydrolib-soft"]
	path = src/Hydrolib-soft
	url = https://github.com/SeaJackal/Hydrolib-soft.git
