[submodule "src/stingray_core_communication/serial"]
	path = src/stingray_core_communication/serial
	url = https://github.com/jinmenglei/serial.git
[submodule "src/stingray_core_communication/Hydrolib-soft"]
	path = src/stingray_core_communication/Hydrolib-soft
	url = https://github.com/SeaJackal/Hydrolib-soft.git
