[submodule "src/stingray_core_sensors/dvl-a50"]
	path = src/stingray_core_sensors/dvl-a50
	url = https://github.com/paagutie/dvl-a50.git
[submodule "src/stingray_core_sensors/dvl_msgs"]
	path = src/stingray_core_sensors/dvl_msgs
	url = https://github.com/paagutie/dvl_msgs.git
[submodule "src/stingray_core_communication/Hydrolib-soft"]
	path = src/stingray_core_communication/Hydrolib-soft
	url = https://github.com/SeaJackal/Hydrolib-soft.git
[submodule "src/stingray_core_communication/serial"]
	path = src/stingray_core_communication/serial
	url = https://github.com/jinmenglei/serial.git
